.header{
   background-color: white;
}
.header .header-top{
    height:60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
}
.header .header-top a{
    margin-right: 40px;
}
.header .breadcrumb{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f9c700;
}
.header .breadcrumb .breadcrumb-title{
    text-align: center;
    font-size: 18px;
}
.header .breadcrumb .breadcrumb-title:after{
    position: absolute;
    content: '';
    left: 111px;
    border-top: 9px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    top: 39px;
}
.header .breadcrumb .weather{
    text-align: right;
    font-size: 14px;
    padding-right: 40px;
}
.header .breadcrumb .weather .date{
    margin-right: 10px;
    vertical-align: middle;
}
.header .breadcrumb .weather .weather-img img{
    height: 15px;
}
.header .breadcrumb .weather .weather-detail{
    margin-left: 5px;
    vertical-align: middle;

}